<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/compose.css" />
    
    <script defer src="/js/compose.js"></script>

    <title>Compose</title>
  </head>

  <body background="/images/bg.jpg">
    <div class="top">
      <input type="checkbox" id="toggle-btn" />
      <label for="toggle-btn" class="show-menu-btn"
        ><i class="fas fa-bars"></i
      ></label>

      <div class="nav">
        <div class="logo">
          <a href="/"><img src="/images/logo.png" alt="Logo" /></a>
        </div>

        <ul class="navigation">
          <li>
            <a href="/"><i class="fas fa-house-damage"></i> Home </a>
          </li>
          <li>
            <a href="/stories"><i class="fas fa-book-open"></i> Stories </a>
          </li>
          <li>
            <a href="/stories/compose"><i class="fas fa-pen"></i> Compose </a>
          </li>


          <label for="toggle-btn" class="hide-menu-btn"
            ><i class="fas fa-times"></i
          ></label>
        </ul>
      </div>
    </div>

    <div class="story-writing">
      <form
        class="form"
        method="post"
        action="/stories/submit-story"
        enctype="multipart/form-data"
      >
        <div class="submitbtn">
          <button type="submit">Save Story</button>
        </div>

        <div class="story-basics">
          <div class="story-image">
            <img
              id="coverImg"
              name="cover_image"
              src="/images/defaultStoryImg.png"
            />

            <button type="button" onclick="openImgUpload()">
              Choose a cover image
            </button>

            <input
              type="file"
              class="hidden"
              accept="image/png image/jpeg image/jpg"
              id="ImgInp"
              name="ImgInp"
              onchange="coverImgUpload()"
            />
          </div>

          <div class="story-details">
            <label for="title"> Choose your title:</label>

            <input
              type="text"
              placeholder="Story title"
              name="title"
              required
            />
            <label for="author"> Author:</label>

            <input type="text" placeholder="Author" name="author" required />

            <div class="preview">
              <label for="preview"> Write a preview (optional):</label>
              <textarea
                id="preview"
                maxlength="250"
                placeholder="Preview"
                name="preview"
              >
              </textarea>
            </div>

            <label for="Genres" placeholder="Choose">Choose a genre:</label>
            <select name="Genres" id="genres">
              <option selected="select">Select</option>
              <% genres.forEach(genre => { if(genre.genreName !== "All") {%>
              <option value="<%= genre._id %>">
                <%= genre.genreName %>
              </option>
              <%} }); %>
            </select>

            <div class="new-genre">
              <div class="genre-checkbox">
                <div>
                  <input
                    type="checkbox"
                    id="newGenreCheckbox"
                    name="newGenreCheckbox"
                  />
                </div>

                <div>
                  <label for="newGenreCheckbox"
                    >I want to type a new genre</label
                  >
                </div>
              </div>

              <input
                type="text"
                id="newGenre"
                name="newGenre"
                placeholder="Enter new genre"
                style="display: none"
              />
            </div>
          </div>
        </div>

        <div class="story-body">
          <textarea maxlength="65000" name="body"> </textarea>
        </div>
      </form>
    </div>

    <div class="footer">
      <div class="social-links">
        <a href="#"
          ><i class="fab fa-facebook-square" style="color: #3b5998"></i
        ></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter" style="color: #00acee"></i></a>
      </div>

      <ul>
        <li><a href="#"> Terms </a></li>
        <li><a href="#"> Privacy </a></li>
        <li><a href="#"> Help </a></li>
        <li><a href="#"> &copy 2023 </a></li>
      </ul>
    </div>
  </body>
</html>
