<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/stories.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/footer.css" />

    <script defer src="/js/storyFilter.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <title>Stories</title>
  </head>
  <body background="images/bg.jpg">
    <div class="top">
      <input type="checkbox" id="toggle-btn" />
      <label for="toggle-btn" class="show-menu-btn"
        ><i class="fas fa-bars"></i
      ></label>

      <div class="nav">
        <div class="logo">
          <a href="/"><img src="images/logo.png" alt="Logo" /></a>
        </div>

        <ul class="navigation">
          <li>
            <a href="home.html"><i class="fas fa-house-damage"></i> Home </a>
          </li>
          <li>
            <a href="stories.html"><i class="fas fa-book-open"></i> Stories </a>
          </li>
          <li>
            <a href="#"><i class="fas fa-question"></i> About </a>
          </li>

          <label for="toggle-btn" class="hide-menu-btn"
            ><i class="fas fa-times"></i
          ></label>
        </ul>
      </div>
    </div>

    <div class="genres-menu">
      <form class="genres-container-dropdown" method="post">
        <div class="dropdown-row">
          <label for="Genres" placeholder="Choose">Choose a genre:</label>

          <select name="Genres" id="genres">
            <option value="All" selected>All</option>
            <option value="Novel">Novel</option>
            <option value="Horror">Horror</option>
            <option value="Science Fiction">Science Fiction</option>
            <option value="Romance">Romance</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Paranormal">Paranormal</option>
            <option value="Mystery">Mystery</option>
            <option value="Adventure">Adventure</option>
            <option value="Thriller">Thriller</option>
            <option value="Drama">Drama</option>
            <option value="Folklore">Folklore</option>
          </select>
        </div>
      </form>
    </div>

    <div class="browse-content" id="results"></div>

    <div class="footer">
      <div class="social-links">
        <a href="#"
          ><i class="fab fa-facebook-square" style="color: #3b5998"></i
        ></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter" style="color: #00acee"></i></a>
      </div>

      <ul>
        <li><a href="#"> Terms </a></li>
        <li><a href="#"> Privacy </a></li>
        <li><a href="#"> Help </a></li>
        <li><a href="#"> &copy 2023 </a></li>
      </ul>
    </div>
  </body>
</html>
