@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  padding-top: 65px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.story-body {
  margin-right: auto;
  margin-left: auto;

  margin-top: 10vh;
  margin-bottom: 10vh;

  width: 85%;

  height: auto;
}

.story-antet {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.story-actions {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  background-color: #f5f5f5;
  border-radius: 10px;
}

.edit-story-button {
  background-color: greenyellow;
  margin-right: 15px;
}

.delete-story-button {
  background-color: red;
}

.edit-story-button,
.delete-story-button {
  width: 100px;
  padding: 5px 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.edit-story-button a,
.delete-story-button a {
  text-decoration: none;
  color: black;
}

.story-image {
  width: 135px;
  height: 220px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.story-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.story-details {
  width: calc(100% - 135px);
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #626beb;
  border-radius: 10px;
}

.story-title {
  font-weight: bolder;
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
}

.story-author {
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
}

.story-author a {
  text-decoration: none;
  color: #333;
}

.story-preview,
.story-genre {
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
}

.story-date-and-number-of-views {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.story-date,
.story-number-of-views {
  width: 48%;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
}

.story-date {
  margin-right: 2%;
}

.story-number-of-views {
  margin-left: 2%;
}

.read-block {
  margin-top: 20px;
  width: 100%;
  min-height: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  line-height: 1.6;
  font-size: 16px;

  transition: box-shadow 0.3s ease-in-out;
}

.read-block:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.comment-section {
  width: 85%;
  margin: 20px auto;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
}

.add-comment {
  margin-bottom: 10px;
}

.add-comment form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.add-comment input {
  padding: 10px;
  width: 60%;
  font-size: 16px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 10px;
}

.add-comment input[name="newComment"] {
  height: 100px;
  margin-right: 10px;
}

.add-comment input[name="commentName"] {
  width: 250px;
}

.comment-body-and-button {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
}

.submitbtn {
  width: 20%;
}

.submitbtn button {
  width: 50px;
  height: 30px;
  background-color: #626beb;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.name-and-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.comment-body {
  flex-grow: 1;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
  margin-right: 10px;
}

.comment-name {
  font-weight: bold;
  min-width: 200px;
  color: #333;
}

.comment-name a {
  text-decoration: none;
  color: #4285f4;
  transition: color 0.3s ease;
}

.comment-name a:hover {
  color: #0d47a1;
}

.comment-date {
  font-size: 12px;
  min-width: 200px;
  color: #777;
}

.no-comments {
  font-size: 18px;
  color: #555; 
  margin-top: 10px;
}

.no-comments i {
  margin-right: 5px;
}

@media screen and (max-width: 771px) and (min-width: 483px) {
  .story-date-and-number-of-views {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0 5px 0;
  }

  .story-date {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 50%;
  }

  .story-number-of-views {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    width: 50%;
  }
}

@media screen and (max-width: 482px) {
  .story-antet {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 10px;
    padding: 0;
  }
  .story-date-and-number-of-views {
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 5px 0 5px 0;
  }

  .story-date {
    /* width: 100px; */
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: white;
    border-radius: 5px;

    margin-bottom: 10px;
    width: 100%;
  }

  .story-number-of-views {
    /* width: 100px; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    border-radius: 5px;

    width: 100%;
  }
  .story-details {
    width: 100%;
    height: auto;

    padding: 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: green; */
    /* padding-bottom: 10px; */

    border-radius: 10px;

    background-color: #626beb;
  }
  .story-image {
    width: 135px;
    height: auto;

    padding-left: 5px;
    padding-right: 5px;

    background-color: white;

    border-radius: 10px;

    /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
  }
  .story-title {
    font-weight: bolder;
    width: 80%;
    height: auto;
    background-color: white;
    margin: 5px 0;
    border-radius: 10px;
    padding-left: 5px;
    text-align: center;
  }
  .story-author {
    width: 80%;
    background-color: white;
    margin: 5px 5px;
    border-radius: 10px;
    height: auto;
    padding-left: 5px;
    text-align: center;
  }

  .story-preview {
    width: 80%;
    background-color: white;
    margin: 5px 5px;
    border-radius: 10px;
    height: auto;
    padding-left: 5px;
  }
  .story-genre {
    width: 80%;
    background-color: white;
    margin: 5px 5px;
    border-radius: 10px;
    height: auto;
    padding-left: 5px;

    text-align: center;
  }
  .comment-section {
    width: 85%;
    margin: 20px auto;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .add-comment {
    margin-bottom: 10px;
  }

  .add-comment form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  .add-comment input {
    padding: 10px;
    font-size: 16px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .add-comment input[name="newComment"] {
    height: 80px;
    width: 100%;
  }

  .add-comment input[name="commentName"] {
    width: 250px;
  }

  .comment-body-and-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
  }

  .comment {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
  }

  .name-and-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  .comment-body {
    flex-grow: 1;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    margin-right: 10px;
  }

  .comment-name {
    font-weight: bold;
    min-width: 200px;
    color: #333;
  }

  .comment-name a {
    text-decoration: none;
    color: #4285f4;
    transition: color 0.3s ease;
  }

  .comment-name a:hover {
    color: #0d47a1;
  }

  .comment-date {
    font-size: 12px;
    min-width: 200px;
    color: #777;
  }

  .no-comments {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
  }

  .no-comments i {
    margin-right: 5px;
  }
}
